body {
    background-color: #4c4c52;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

p{
    font-size: 16px;
    line-height: 1.5;
}

body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

#PFP {
    width: 100%;
    border-radius: 8px;
}

#icons8_shoutout {
    font-size: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14%;
    height: 100%;
    background: #2f3033;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    
    transition: background-color 0.3s;
}

nav.light-mode {
    background: #e0e0e0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

nav ul li {
    font-size: 30px;
    margin: 25px;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif !important;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav.light-mode ul li a {
    color: #333;
}

#theme-toggle {
    padding: 10px 20px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle.light-mode {
    background: #ddd;
    color: #333;
}

.container {
    max-width: 1100px;
    min-height: 3000px;
    margin: auto;
    padding: 20px;
}

.section {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-left: 190px;
    margin-bottom: 20px;
    min-width: 180px;
    padding: 20px;
    background: #2f3033;
    border-radius: 8px;
    transition: background-color 0.3s;
}

body.light-mode .section {
    background: #e0e0e0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #2f3033;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

footer.light-mode {
    background: #e0e0e0;
    color: #333;
}
